<h1>Lista videojuegos clasificados</h1>

<div class="panel panel-default">
<table class="table table-hover" >
  <thead>
    <tr>
      <th>Videojuego</th>
      <th>Clase</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videojuegoclases.each do |videojuegoclase| %>
      <tr>
        <td><%= videojuegoclase.videojuego.nombre %></td>
        <td><%= videojuegoclase.clase.genero %></td>
        <td><%= link_to 'Show', videojuegoclase %></td>
        <td><%= link_to 'Edit', edit_videojuegoclase_path(videojuegoclase) %></td>
        <td><%= link_to 'Destroy', videojuegoclase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Videojuegoclase', new_videojuegoclase_path %>
